#**Basic python programs**
###**Name:sameera sikandar**
###**Enrl.:250529**
###**Course:BCA**
###**Date:13/2/2026**
###**Course Code:CA 23.136**
###**Aim:To write the basic python programs**

[![Open in Google Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/sameerasikandarali-lang/pythonprograms/blob/main/basicpythonprog.ipynb)

#**Basic**

In [ ]:

print ('Helllo World') # To print hello print

Helllo World

#**Addition Program**

In [ ]:
#Addition of two numbers
a=6   #first number
b=4   #second number
c=a+b #addition two numbers
print(c)

10

#**Subtraction progam**

In [ ]:
#Subtraction two numbers
a=12  #first number
b=6   #second number
c=a-b #subtraction two numbers
print(c)

6

#**Multiplication program**

In [ ]:
#multiplication of two numbers
a=6   #first number
b=4   #second number
c=a*b #multiplication two numbers
print(c)

24

#**Division program**

In [ ]:
#Division of two numbers
a=21   #first number
b=3    #second number
c=a/b  #division two numbers
print(c)

7.0

#**Power program**

In [ ]:
#Power of a number
a=4   #First number
b=3   #secondnumber
c=a**b
print(c)

64

#**Modulus program**

In [ ]:
#Finding remainder
a=10
b=3
result=a%b   #remainder after divison
print('remainder =', result)

remainder = 1

#**Boolean operator**

In [ ]:
x = True
y = False

print(x and y)   # False
print(x or y)    # True
print(not x)     # False

False
True
False

#**User input**

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print(f"Hello {name}, you are {age} years old.")

Enter your name: sameera
Enter your age: 18
Hello sameera, you are 18 years old.

#**Conversion/type casting**

In [ ]:
num_str = "100"
num_int = int(num_str)   # string to integer
num_float = float(num_str)  # string to float

print(num_int + 50)    # 150
print(num_float + 0.5) # 100.5

150
100.5

#**Decimal module**

In [ ]:
#from decimal import Decimal

a = Decimal('0.1')
b = Decimal('0.2')
c = a + b

print(c)  # 0.3 (accurate)

0.3

#**string and int**

In [ ]:
s = "123"
i = int(s)       # string to integer
print(i + 7)     # 130

s2 = str(i)      # integer to string
print(s2 + "7")  # "1237"

130
1237