#**Basic python program**
###**Name:sameera sikandar**
###**Enrl.:250529**
###**Course:BCA**
###**Date:13/2/2026**
###**Subject:python programing**
###**Aim:To multiple items can store**

[![Open in Google Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/sameerasikandarali-lang/pythonprograms/blob/main/listaverge.ipynb)

#**List and conditions(fruits)**

In [ ]:
# Creating a list of fruits
fruits = ['apple', 'banana', 'orange']

# Loop through the list
for i in fruits:
    print(i)   # print each fruit

    # Check condition
    if i == "orange":
        print("Current food value is:", i)   # print when orange found

apple
banana
orange
Current food value is: orange

#**Average of list**

In [ ]:
# List of numbers
Num = [3, 4, 2]

sum = 0   # variable to store total

# Loop to add numbers
for i in Num:
    print(i)        # print each number
    sum = sum + i   # add number to sum

# Calculate average
avg = sum / len(Num)

print("Average =", avg)   # display result

3
4
2
Average = 3.0

#**Average of three stuudents**

In [ ]:
# Student names and marks
s1_name = "muskan"
s1_num = 2

s2_name = "Samira"
s2_num = 5

s3_name = "bhawna"
s3_num = 4

# Calculate average
avg = (s1_num + s2_num + s3_num) / 3

# Print average
print("Average marks =", avg)

Average marks = 3.6666666666666665